footer.footer 
  .container
    .footer__main
      .footer__info 
        a.footer__logo(href="#")
          img(src="./images/footer-logo.svg", alt="") 
        .footer__desc Надежность на века – бетонные полы для вашего бизнеса! 
          | Стойкость к экстремальным нагрузкам и долговечность 
          | в эксплуатации с нашей уникальной гарантией качества.
      nav.footer__nav 
        ul.footer__nav-list 
          li 
            a(href="#" class="link") Главная
          li 
            a(href="#" class="link") О нас
          li 
            a(href="#" class="link") Услуги
          li 
            a(href="#" class="link") Контакты
      form.footer__form(action="#")
        .footer__form-title Заказать звонок
        input.footer__form-input(type="text" placeholder="Enter Your Email")
        button.footer__form-submit.btn.btn--wide.btn--secondary Отправить
    .footer__bottom 
      .footer__copyright Copyright © 2024
      .footer__designed Designed by 