header.header 
  .container.header__container
    a.header__logo(href="#")
      img(src="./images/logo.png", alt="") 
    .header__main.js-header-menu 
      .header__top 
        .header__email 
          span Отдел продаж 
          a(href="mailto:top@polimer.ru" class="link") top@polimer.ru 
        a(href="tel:+79219038582").header__tel.link +7 (921) 903 85 82
      nav.header__nav
        ul.header__nav-list 
          li 
            a(href="#" class="link") Топинговые полы                    
          li  
            a(href="#" class="link") Бетонные полы
          li 
            a(href="#" class="link") Полимерные полы
          li 
            a(href="#" class="link") О нас
          li 
            a(href="#" class="link") Контакты
    button.header__burger.js-header-menu-toggler
      span 